<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysite.netflixProject.mappers.BoardMapper">
    <select id="getBoardList" resultType="com.mysite.netflixProject.board.BoardVO">
        SELECT board_num, member_id, board_title, board_content,
        date_format(board_date, '%m월 %d일 %H시') as board_date, board_reply 
        FROM customercenter ORDER BY board_num ASC
    </select>

    <update id="counterset">
        SET @cnt=0
    </update>

    <update id="counterset2">
        UPDATE customercenter
        SET board_num = (@cnt := @cnt + 1)
        WHERE board_num
        ORDER BY board_date DESC
    </update>

    <insert id="insertBoard" parameterType="com.mysite.netflixProject.board.BoardVO">
        INSERT INTO customercenter (member_id, board_title, board_content, board_num) 
        VALUES (#{member_id}, #{board_title}, #{board_content}, 1)
    </insert>

    <select id="getDetail" parameterType="com.mysite.netflixProject.board.BoardVO" resultType="com.mysite.netflixProject.board.BoardVO">
        SELECT member_id, board_title, board_content, board_reply 
        FROM customercenter 
        WHERE board_num = #{board_num}
    </select>

    <update id="modifyBoard" parameterType="com.mysite.netflixProject.board.BoardVO">
        UPDATE customercenter 
        SET board_title = #{board_title}, board_content = #{board_content}
        WHERE board_num = #{board_num}
    </update>

    <update id="modifyID" parameterType="com.mysite.netflixProject.board.Idchange">
        UPDATE customercenter 
        SET member_id = #{new_member_id} 
        WHERE member_id = #{old_member_id}
    </update>

    <delete id="deleteBoard" parameterType="com.mysite.netflixProject.board.BoardVO">
        DELETE FROM customercenter 
        WHERE board_num = #{board_num}
    </delete>

    <delete id="deleteId" parameterType="com.mysite.netflixProject.board.BoardVO">
        DELETE FROM customercenter 
        WHERE member_id = #{member_id}
    </delete>

    <update id="replyBoard" parameterType="com.mysite.netflixProject.board.BoardVO">
        UPDATE customercenter 
        SET board_reply = #{board_reply}
        WHERE board_num = #{board_num}
    </update>

    <select id="searchBoard" parameterType="String" resultType="com.mysite.netflixProject.board.BoardVO">
        SELECT board_num, member_id, board_title, board_content,
        date_format(board_date, '%m월 %d일 %H시') as board_date, board_reply 
        FROM customercenter 
        WHERE board_title LIKE CONCAT('%', #{search}, '%') 
        OR board_content LIKE CONCAT('%', #{search}, '%')
        ORDER BY board_num ASC
    </select>
</mapper>