<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysite.netflixProject.mappers.ProfileMapper">
    <select id="getNicknames" resultType="com.mysite.netflixProject.profile.ProfileVO">
        SELECT member_id, profile_id, nickname 
        FROM profile 
        WHERE member_id = #{member_id}
    </select>

    <select id="getProfileDetail" resultType="com.mysite.netflixProject.profile.ProfileVO">
        SELECT member_id, profile_id, nickname 
        FROM profile 
        WHERE member_id = #{member_id} AND profile_id = #{profile_id}
    </select>

    <update id="profileEmailUpdate" parameterType="com.mysite.netflixProject.profile.ProfileVO">
        UPDATE profile 
        SET member_id = #{member_new_id} 
        WHERE member_id = #{member_id}
    </update>

    <insert id="insertNickname">
        INSERT INTO profile (member_id, profile_id, nickname) 
        VALUES (#{member_id}, #{profile_id}, #{nickname})
    </insert>

    <select id="getNextProfileId" resultType="int">
        SELECT IFNULL(MAX(profile_id), 0) + 1 
        FROM profile 
        WHERE member_id = #{member_id}
    </select>

    <update id="updateNickname">
        UPDATE profile 
        SET nickname = #{nickname} 
        WHERE member_id = #{member_id} AND profile_id = #{profile_id}
    </update>

    <delete id="deleteNickname">
        DELETE FROM profile 
        WHERE member_id = #{member_id} AND profile_id = #{profile_id}
    </delete>

    <update id="counterset">
        SET @cnt = 0
    </update>

    <update id="counterset2">
        UPDATE profile
        SET profile_id = (@cnt := @cnt + 1)
        WHERE member_id = #{member_id}
        ORDER BY profile_date ASC
    </update>

    <delete id="deleteProfileMember" parameterType="com.mysite.netflixProject.profile.ProfileVO">
        DELETE FROM profile 
        WHERE member_id = #{member_id}
    </delete>
</mapper>